<%- include('../partials/header.ejs')  %>
<h1>TeacherAssist</h1>
<div>

    <form method="post" name="searchForm" id="searchForm">
        <div>
            <label for="searchByTeacher"> Search by Teacher:</label>
        </div>

        <div style="display: inline-block;">

            <input style="" type="text" name="searchByTeacher" id="searchByTeacher">
        </div>

        <div style="display: inline-block;">
            <button type="submit" form="searchForm">Search</button>
        </div>


    </form>
</div>

<form action="/entries" method="get"> <a href="/entries"><input type="button" value="Show All Lessons"></a></form>
<form action="/home" method="get"> <a href="/home"><input type="button" value="Home"></a></form>

<ol>
    <% if (lessonsList.length === 0) { %>
    <ul>
        <li>No matches found!</li>
    </ul>
    <% } %>

    <% if ( typeof(lessonsList) == 'undefined') { %>
    <li>No matches found!</li>
    <% } %>
    <% lessonsList.forEach(element => { %>
    <form action="/editEntry/<%= element._id %> " method="get">
        <li>
            <%=element.date.toLocaleString("pt-BR", {timeZone:"GMT", day: "numeric", month: "numeric", year:"numeric"}) %>
            <%=element.teacher%>
            <%=element.content%>
            <a href="/editEntry/<%=element._id%>"> <button> Edit Entry</button></a>
        </li>
    </form>

    <% }) %>
</ol>

<%- include('../partials/footer.ejs')  %>